﻿@if (Request.IsAuthenticated)
{
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage1", "Employee", routeValues: null, htmlAttributes: new { @class = "Empname", title = "Manage1" })!
        @using (Html.BeginForm("LogOut", "Employee", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Create", "Employee", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("LogIn", "LogIn", "Employee", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}