﻿@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>_UserLayout</title>
    </head>
    <body>
        <div>

        </div>
    </body>
    </html>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Code Express</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site1.css")" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img src="http://www.zingyhomes.com/projectImages/CompanyLogo/product_32009/H%20Logo%20-%20Blue.jpg" alt="Logo" style="width:35px;height:35px;" />
                    @Html.ActionLink("Hirek", "Index", "Home")
                </p>
            </div>
            <section id="login">
                <ul>
                    <li>
                        <a href="" id="registerLink">Register</a>
                    </li>
                    <li><a href="" id="loginlink">Log in</a></li>
                </ul>
            </section>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <table>
            <tr>
                <td colspan="2">
                    <div class="float-left">
                        <div>
                            <br />
                            <br />
                            <br />
                            <ul id="submenu">
                                <li>
                                    <a href="#">Business</a>
                                    <ul>
                                        <li>@Html.ActionLink("Technology", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Real Estate", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Autos", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Small Business Mangement", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Contract", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">News</a>
                                    <ul>
                                        <li>@Html.ActionLink("Sports", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Education", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Weather", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Politics", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Finace</a>
                                    <ul>
                                        <li>@Html.ActionLink("Market", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Stocks", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Currency", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Economy", "Index", "Home")</li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        @*<nav>
                                <ul id="menu">
                                    <li>Business</li>
                                    <li>News</li>
                                    <li>Finance</li>
                                </ul>
                            </nav>*@
                    </div>


                    @*<center>
                            <em>Welcome</em>
                        </center>*@
                </td>
            </tr>
            <tr>
                <td style="width:800px">
                    @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </td>
            <td style="width:100px"><h4></h4></td>
        </tr>
    </table>

</div>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; @DateTime.Now.Year – Code Express</p>
        </div>
    </div>
</footer>
</body>
</html>