﻿@model MvcApplication13.Table

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Table</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.file)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.file)*@
        <img src="~/Content/Upload/@Model.file" alt="image" width="100" />
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
