﻿@model MvcApplication13.Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Table</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.file)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.file)*@
        <img src="~/Content/Upload/@Model.file" alt="image" width="100" />
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>