﻿@{
    Layout = "~/Views/Shared/_HirekLayout.cshtml";
}

@{
 
    ViewBag.Title = "";
}

@section featured {
<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        margin: 50px auto;
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
</style>



    <section class="featured" >
        <div class="content-wrapper1">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
                             
            </hgroup>
            <center>
                <p>
                    <h1>
                        <em>
                            Welcome to Hirek!!!!!<br />
                        </em>
                    </h1>
                    <h2><em>Employee Of Hirek <br /></em></h2>
                    <h3><em>Register your details in this website!!!!!</em></h3>


                </p>

                @*<div id="SlideshowImages">*@
                    @*<div> <img src="~/Images/Cognizant Office MEPZ chennai.jpg" height="200" width="200"> </div>*@
                    <div> <img src="~/Images/Chris James_MG_5402-2_WHCC.jpg" height="200" width="400"> </div>
                    @*<div> <img src="~/Images/people-working-in-an-office.jpg" height="200" width="200"> </div>
                <div> <img src="~/Images/sales-representative.jpg" height="200" width="200"> </div>
                <div> <img src="~/Images/shared office space bangalore.jpg" height="200" width="200"> </div>*@

                @*</div>*@
            </center> 
        </div>
    </section>
}