﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    <br />
    <br /><br /><br />
    <div>
        <center>
            <h2>
                <em>
                    HIREK is an Information Service Company providing<br /> Business,News and
                    Financial information to subscribers.<br />It is an application that enable
                    customers<br /> to input the news in text and multimedia formats.<br />
                    The required information are distributed <br />to the subscribers across various channels.
                </em>
            </h2>
        </center>
        <br /><br /><br />
    </div>

</div>
@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@